<h1>Contacts</h1>

<% contacts = Contact.all %>

<ul>
  <% for contact in contacts %>
    <%company = Company.find_by("id"=>contact["company_id"])%>
    <li>
      <%= contact["first_name"].ljust(10) %> 
      <%= contact["last_name"].ljust(15) %> 
      - <%= company["name"] %> 
    </li>

  <% end %>
</ul>